{% extends 'ManuTfeBundle::layout.html.twig' %}

{% block content %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
<form action="{{ path('login_check') }}" method="post">
    <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>
    <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    </div>

    <button type="submit">login</button>
</form>
{% endblock %}
