{% extends 'ManuTfeBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ entity.titre }} - {{ entity.niveau.nom }}</h1>

    <table class="record_properties">
        <tbody>
            {% if entity.webpath is not empty %}
            <tr>
                <td><img src="{{ asset(entity.webPath) }}" /></td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ entity.question|nl2br }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td>Réponse: {{ entity.reponse|nl2br }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
