/*
Reset CSS
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

/*
Fonts CSS
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;outline: none;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

a
{
  color: #524F46;
  outline: none;
}

body
{
  font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: #828f95;
}

#container
{
  margin-left: auto;
  margin-right: auto;
  background: #fff url(../images/bg-page.png) bottom repeat-x;
}

#header
{
  background: url(../images/bg-header.jpg) repeat-x top;
}

#header h1
{
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 250%;
  height: 110px;
  width: 783px;
  margin: 0 auto;
}

#sub_header
{
  background: url(../images/bg-subheader.gif) bottom;
  width: 783px;
  height: 128px;
  margin: 0 auto;
}

#sub_header .menu
{
  padding: 15px 35px;
}

#sub_header .menu h2
{
  height: 23px;
  width: 250px;
  margin-bottom: 7px;
  margin-top: 5px;
}

#content .content {
  width: 783px;
  margin: 0 auto;
}

#content h1
{
  margin-top: 10px;
  margin-bottom: 1px;
  padding: 0px 15px;
  font-size: 124%;
  text-transform: uppercase;
  background: url(../images/bg-listheader.gif) no-repeat;
  line-height: 32px;
  color: #fff;
}

#content h1 a
{
  color: #fff;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  line-height: 32px;
}

#footer
{
  margin-top: 60px;
  font-size: 90%;
  margin-bottom: 0px;
  height: 153px;
  background: url(../images/bg-footer.jpg) repeat-x bottom;
  padding-top: 10px;
  position: relative;
}

#footer .content {
  width: 783px;
  margin: 0 auto;
}

#footer a
{
  color: #77766F;
}

#footer ul
{
  display: inline;
}

#footer li
{
  list-style: none;
  margin-right: 15px;
  display: inline;
}

#footer li a
{
  text-decoration: none;
}

#footer li a:hover
{
  color: #000;
  text-decoration: underline;
}

#footer .symfony
{
  font-family: arial,sans-serif;
  font-size: 80%;
  float: right;
  color: #666;
}

#footer .symfony img
{
  vertical-align: middle;
}

#footer form {
  margin: 10px 0;
  color: #5f6364;
}

.error_list
{
  color: red;
}

strong
{
  font-weight: bold;
}

em
{
  font-style: italic;
}

.flash_notice
{
  margin: 3px 0;
  padding: 7px;
  background-color: green;
}

.flash_error
{
  margin: 3px 0;
  padding: 7px;
  background-color: red;
  color: #fff;
}

.records_list
{
     width: 760px;
      margin: 0 auto;
}
.records_list tr.even
{
  background-color: #f3fafc;
}

.records_list tr.odd
{
}

.records_list tr:hover
{
  background-color: #fff;
}

.records_list td
{
  padding: 12px 15px;
  border-bottom: 1px dotted #999;
}

label {
  display: block;
  width: 200px;
  float: left;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
